:root {
  /* цвет бэкграунда изображения каталога */
  --background-catalog: #47617b;
  /* цвет бэкграунда изображения главной */
  --background-main: #6d869c;
  /* основной цвет сайта */
  --black-color: #000000;
  /* основной синий цвет сайта */
  --blue-color: #81b3d2;
  /* цвет кнопок и фокуса */
  --brown-color: #766357;
  /* цвет подзаголовков */
  --grey-color: #333333;
  /* бэкграунд последнего списка преимуществ, так же бэк-граунд сайта */
  --lite-grey-color: #eeeeee;
  /* основной белый цвет сайта */
  --white-color: #ffffff;
  /* прозрачный цвет для формы */
  --white-color-clear: rgba(255, 255, 255, 0);
}

/* общие стили */

.page-body {
  display: grid;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--grey-color);
  text-transform: uppercase;

  background-color: var(--lite-grey-color);

  grid-template-rows: min-content 1fr min-content;
}

.page {
  height: 100%;
}

.center {
  width: 1200px;
  margin: 0 auto;

  background-color: var(--white-color);
  box-shadow: 10px 0 8px -3px rgba(221, 221, 221, 1),
  -10px 0 8px -3px rgba(221, 221, 221, 1);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.general-title {
  font-size: 21px;
  color: var(--black-color);
}

.general-list {
  list-style: none;
}

/* Навигация по сайту */

.site-navigation {
  margin: 0;
  padding: 0;
}

/* .site-navigation li {
  display: inline;
} */

.site-navigation-current a:not([href]) {
  color: var(--brown-color);
}

.navigation-item {
  color: var(--black-color);
  text-decoration: none;
}

.navigation-item:hover {
  color: var(--blue-color);
}

.navigation-item:active {
  color: var(--black-color);

  opacity: 0.3;
}

.navigation-item:focus {
  color: var(--brown-color);
}

/* Стили главной страницы */

.promo {
  line-height: 26px;
}

.background-main {
  width: 1200px;
  height: 509px;

  background: url(../img/decor/background-logo.svg) no-repeat 50%,
  url(../img/decor/background-bottom.png) no-repeat bottom,
  url(../img/decor/background-photo.jpg);
}

.promo-wrapper {
  text-align: center;
}

/* Секция особеностей */

.features {
  font-weight: 400;
  line-height: 21px;
}

.features-item {
  text-align: center;
}

.features-list {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
}

.extra-features-wrapper {
  display: grid;
  height: 256px;

  background-color: var(--blue-color);

  grid-template-columns: 1fr auto;
}

.extra-features-item-wrapper {
  align-self: center;
  width: 400px;

  text-align: center;
  color: var(--white-color);
}

.extra-features-item-wrapper h3 {
  color: var(--white-color);
}

.extra-item-right {
  order: 2;
}

.more-features {
  background-color: var(--lite-grey-color);
}

/* Секция поиска гостиниц */

.hotel-search {
  margin-top: 56px;

  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.hotel-search h3 {
  font-size: 30px;
}

/* footer */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Стили страницы каталога */

.filter-check-block {
  font-weight: 400;
  line-height: 21px;
  color: var(--white-color);

  background-color: var(--background-catalog);
  background-image: url(../img/decor/background-photo-catalog.jpg);
  background-repeat: no-repeat;
}

.filter-check-block legend {
  font-weight: 700;
  font-size: 16px;
}

.filter-range input[placeholder] {
  color: var(--white-color);

  background-color: var(--white-color-clear);
}

.filter-catalog-block {
  font-weight: 400;
  line-height: 21px;
}

/* filter sorting */

.filter-sorting {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.filter-sorting-item {
  color: var(--black-color);
}

/* filter up-down */

.filter-up-duwn {
  fill: #cacaca;
}
.filter-up-duwn a:hover {
  fill: var(--black-color);
}
.filter-up-duwn a:focus {
  fill: var(--blue-color) ;
}
.filter-up-duwn a:active {
  fill: var(--blue-color) ;
}

/* buttons */

.button {
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: var(--white-color);
}

.button-booking {
  width: 142px;
  height: 27px;

  background-color: var(--brown-color);
}

.button-description {
  width: 110px;
  height: 27px;

  background: var(--blue-color) ;
}

.button-filter {
  width: 127px;
  height: 36px;

  font-weight: 400;

  background-color: var(--white-color-clear);
  border: 2px solid var(--white-color);
}

.button-big {
  width: 568px;
  height: 86px;

  font-size: 21px;
  line-height: 26px;

  background-color: var(--brown-color);
}

/* класс скрывающий семантические элементы в разметке которых нет в макете */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}
