:root {
  /* цвет бэкграунда изображения каталога */
  --background-catalog: #47617b;
  /* цвет бэкграунда изображения главной */
  --background-main: #6d869c;
  /* основной цвет сайта */
  --black-color: #000000;
  /* основной синий цвет сайта */
  --blue-color: #81b3d2;
  /* цвет кнопок и фокуса */
  --brown-color: #766357;
  /* цвет подзаголовков */
  --grey-color: #333333;
  /* бэкграунд последнего списка преимуществ, так же бэк-граунд сайта */
  --lite-grey-color: #eeeeee;
  /* основной белый цвет сайта */
  --white-color: #ffffff;
  /* прозрачный цвет для формы */
  --white-color-clear: rgba(255, 255, 255, 0);
}

/* общие стили */

.page-body {
  position: relative;

  display: grid;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--grey-color);
  text-transform: uppercase;

  grid-template-rows: min-content 1fr min-content;
}

.page {
  height: 100%;

  background-color: var(--lite-grey-color);
}

.center {
  width: 1200px;
  margin: 0 auto;

  background-color: var(--white-color);
  box-shadow: 10px 0 8px -3px rgba(221, 221, 221, 1),
  -10px 0 8px -3px rgba(221, 221, 221, 1);
}

.center-inner {
  padding: 0 73px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.general-title {
  font-size: 21px;
  color: var(--black-color);
}

.general-list {
  list-style: none;
}

/* Навигация по сайту */

.main-navigation {
  position: relative;

  display: flex;
  height: 56px;
}

.main-header-logo {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  /* min-width: 120px; */
  min-width: 227px;
  margin: 0 auto;
}

/* второй */
.site-navigation li:nth-child(2) {
  /* margin-left: 10%; */
  margin-right: 7%;
}

/* предпоследний */
.site-navigation li:nth-last-child(2) {
  /* margin-right: 10%; */
  margin-left: 7%;
}

/* два первых */
.site-navigation li:nth-child(-n+2) {
  text-align: left;
}

/* два последних */
.site-navigation li:nth-last-child(-n+2) {
  text-align: right;
}

/* логика элементов меню навигации */
.site-navigation-current a:not([href]) {
  color: var(--brown-color);
}

.navigation-item {
  color: var(--black-color);
  text-decoration: none;
}

.navigation-item:hover {
  color: var(--blue-color);
}

.navigation-item:active {
  color: var(--black-color);

  opacity: 0.3;
}

.navigation-item:focus {
  color: var(--brown-color);
}

/* Стили главной страницы */

.promo {
  line-height: 26px;
}

.background-main {
  width: 1200px;
  height: 509px;

  background: url(../img/decor/background-logo.svg) no-repeat 50%,
  url(../img/decor/background-bottom.png) no-repeat bottom,
  url(../img/decor/background-photo.jpg);
}

.promo-wrapper {
  text-align: center;
}

/* Секция особеностей */

.features {
  font-weight: 400;
  line-height: 21px;
}

.features-item {
  text-align: center;
}

.features-list {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
}

.extra-features-wrapper {
  display: flex;
  height: 256px;

  background-color: var(--blue-color);
}

.extra-features-item-wrapper {
  align-self: center;
  width: 400px;

  text-align: center;
  color: var(--white-color);
}

.extra-features-item-wrapper h3 {
  color: var(--white-color);
}

.extra-item-right {
  order: 2;
}

.more-features {
  background-color: var(--lite-grey-color);
}

/* Секция поиска гостиниц */

.hotel-search {
  margin-top: 56px;

  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.hotel-search h3 {
  font-size: 30px;
}

.hotel-search img {
  display: block;
}

/* footer */

.footer {
  display: grid;
  align-items: center;
  width: 100%;
  min-height: 120px;

  background: rgba(255, 255, 255, 0.9);

  gap: 190px;
  grid-template-columns: 1fr min-content 1fr;
}

.footer-main {
  position: absolute;
  bottom: 0;
}

.footer .footer-column-1 {
  display: flex;
  justify-content: end;

  text-align: center;
}

.footer .footer-contaсts {
  padding: 0 16px;
}

.footer .footer-column-2 {
  display: flex;
  padding: 0;

  gap: 6px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;

  fill: #ffffff;
}

.footer .footer-column-3 {
  display: flex;

  font-weight: normal;

  gap: 15px;
}

/* логика social-button-онов */

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;

  fill: rgba(255, 255, 255, 0.3);
}

/* Стили страницы каталога */

.filter-check-block {
  height: 217px;

  font-weight: 400;
  line-height: 21px;
  color: var(--white-color);

  background-color: var(--background-catalog);
  background-image: url(../img/decor/background-photo-catalog.jpg);
  background-repeat: no-repeat;
}

.filtration-form {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}

.filter-check-block legend {
  font-weight: 700;
  font-size: 16px;
}

.filter-range input[placeholder] {
  color: var(--white-color);

  background-color: var(--white-color-clear);
}

.catalog-block {
  font-weight: 400;
  line-height: 21px;
}

/* filter sorting */

.filter-catalog-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}

.filter-catalog-block .column-1 {
  display: flex;
  align-items: center;
}

.filter-sorting {
  padding-left: 46px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.filter-sorting li {
  display: inline;
}

.filter-sorting .filter-sorting-item:first-child {
  margin-right: 40px;
}

.filter-sorting-item {
  margin-right: 30px;

  color: var(--black-color);
}

/* filter up-down */

.filter-up-duwn li {
  display: inline;
}

.filter-up-duwn path {
  fill: #cacaca;
}

.filter-up-duwn path:hover {
  fill: var(--black-color);
}

.filter-up-duwn path:focus {
  fill: var(--blue-color) ;
}

.filter-up-duwn path:active {
  fill: var(--blue-color) ;
}

/* buttons */

.button {
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: var(--white-color);
}

.button-booking {
  width: 142px;
  height: 27px;

  background-color: var(--brown-color);
}

.button-description {
  width: 110px;
  height: 27px;

  background: var(--blue-color) ;
}

.button-filter {
  width: 127px;
  height: 36px;

  font-weight: 400;

  background-color: var(--white-color-clear);
  border: 2px solid var(--white-color);
}

.button-big {
  width: 568px;
  height: 86px;

  font-size: 21px;
  line-height: 26px;

  background-color: var(--brown-color);
}

/* класс скрывающий семантические элементы в разметке которых нет в макете */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

/*  */
.grid-line-prototype {
  position: absolute;

  display: grid;

  clip: rect(0 0 0 0);

  grid-template-columns: 73px 127px repeat(4, 200px) 127px 73px;
}

.grid-line-prototype::before {
  content: "2";
}
